node_modules/
.quartz-cache/
public/
"content/.obsidian/"

_private-local/
_archive-local/
_sources-local/

.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
content/.obsidian/plugins/

*.pdf
*.epub
*.mp3
*.mp4
*.mov
*.zip
*.dmg
